@import 'tailwindcss';

html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

@keyframes grain-shift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 200px;
  }
}

.grain-overlay {
  animation: grain-shift 8s linear infinite;
}
